*{
    margin:5px;
    padding: 4px;
}
.saju{
    align-items: center;
    justify-content: center;
    background-color: red;
    border: 4px solid rgb(62, 243, 17);
    border-radius: 22px;
}
.a{
    background-color: aqua;
    border: 3px solid rgb(4, 0, 255);
    border-radius: 22px;
    justify-content: center;
    align-items:center ;
} 